
 <%- include('parts/header')%>
 <%- include('parts/navbar')%>
 
 <section class="vh-100 bg-image "
 style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
 <div class="mask d-flex align-items-center h-100 gradient-custom-3">
   <div class="container h-100">
     <div class="row d-flex justify-content-center align-items-center h-100">
       <div class="col-12 col-md-9 col-lg-7 col-xl-6">
         <div class="card" style="border-radius: 15px;">
           <div class="card-body p-5">
             <h2 class="text-uppercase text-center mb-5">Job Information</h2>
             <main id="site-main">
             <form method="POST" action ="/update-job/<%=job._id%>" >
              <input type="hidden" name="_id" value="<%=job._id%>">
               <div class="mb-3">
                   <label for="title" class="form-label">Title</label>
                   <input type="text" class="form-control" id="title" name="Title" value="<%=job.Title%>" placeholder="Title">
                   
               </div>                        
               
               <div class="mb-3">
                       <label for="description" class="form-label">Description</label>
                   <input type="text" class="form-control" id="description" name="Description" value="<%=job.Description%>"  placeholder="Description" >
                                       
               </div>
               
                   
               <div class="mb-3">
                   <label for="location" class="form-label">Location</label>
                   <input type="text" class="form-control" id="location-reg" name="location" value="<%=job.location%>" placeholder="location" >
               </div>

               <div class="mb-3">
                   <label for="salary-reg" class="form-label">Salary</label>
                   <input type="text" class="form-control" id="salary-reg" name="Salary" value="<%=job.Salary%>" placeholder="Salary" >
               </div>

               <div class="mb-3">
                   <label for="CompanyName-reg" class="form-label">CompanyName</label>
                   <input type="text" class="form-control" id="CompanyName-reg" name="CompanyName" value="<%=job.CompanyName%>" placeholder="CompanyName" >
               </div>

               <div class="form-group">
                 <input type="submit" class="btn btn-info"  id="reg-form-btn" value="Update Job">
                 <a class="btn btn-secondary" href="/job-list"><i class="fa fa-list-alt"></i> View All</a>
                 
             </div>
               
             
           </form>

           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>

<% include('parts/footer')%>